.banner .nav li {
  @extend .nav-item;
}
.banner .nav a {
  @extend .nav-link;
}

.bg-faded {
    background-color: #ffffff;
    margin: 20px 0px 20px 0px;
}

.menu-main-navigation-container {
    width: 100%;
}
